.homeMain {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  min-height: 100vh;
}

.homeTitle {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 40px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 30px;
}

/* Anime  */

.animeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 350px;
}

.animeImage {
  border-radius: 15px;
}

.animeInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}

.animeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animeTitle {
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.animeKind {
  background-color: #001d41;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

.animeDetails {
  display: flex;
  gap: 20px;
}

.animeEpisodes {
  display: flex;
  gap: 5px;
}

.animeRating {
  display: flex;
  gap: 5px;
  color: #ffe058;
}

/* Hero */

.heroHeader {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  gap: 10px;
  align-items: center;
  filter: drop-shadow(3px 3px 3px #3030e7);
}

.heroTitle {
  font-size: 60px;
}

.heroHighlight {
  color: #a32032;
}

.heroImageContainer {
  position: relative;
  width: 100%;
  height: 50vh;
  justify-content: center;
  display: flex;
}

.heroImage {
  object-fit: contain;
}